html, body {
    /* margin: 0;
    height: 100%; */
    padding: 10px;
    font-family: sans-serif;
    font-size: small;
  }

.ol-mouse-position {
    right: 3em;
    color: #fff;
    background-color: rgba(0, 60, 136, 0.5);
    padding: 2px 10px;
    border-radius: 5px;
}
  
#map {
    /* position: absolute;
    top: 20px;
    left: 20px; */
    /* bottom: 0; */
    width: 95%;
    height: 520px;
}

#druckconfig {
    padding: 10px;
}

#printloader {
    display: none;
    /* padding: 1px 1px 1px 1px; */
    width: 66px;
    height: 66px;
    border: 1px solid rgb(0, 0, 0);    
    background-color: rgb(255, 255, 255);
    opacity: 1.0;
}